@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');


* {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: floralwhite;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0e0e15;
}

header img {
    width: 150px;
    vertical-align: bottom;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    color: floralwhite;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: dodgerblue;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    padding: 5px 20px;

}

header li a {
    color: #9f9f9f;
    transition: all 0.3s ease 0s;
}

header li a img {
    color: #9f9f9f;
    transition: all 0.3s ease 0s;
    width: auto;
}

header li a:hover {
    color: dodgerblue;
}

h1 {
    padding: 1%;
    font-size: 2em;
    color: #2594ff;
}


.game-area-section {
    max-width: 70%;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.5;
}

h2 {
    color: #b96a09;
}

h3 {
    font-size: 1.10em;
    color:#2594ff;
}

.flex-grid {
    color: white;
    display: flex;
    margin: auto;
}

.col {
    background-color: black;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 1em;
}

.game-images {
    text-align: center;
}

.sidebar {
    flex: 1.5;
}

.main {
    flex: 5;
}